{% extends "main_app/base.html" %}

{% load static %}

{% block content %}
</section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Thư viện hình ảnh</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
                <li data-filter=".{{ category.en_slug }}">{{ category.vn_name }}</a></li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
              {% for image_gallery in image_galleries %}
                <div class="col-lg-4 col-md-6 portfolio-item {{image_gallery.category.en_slug}} ">
                  <div class="portfolio-wrap">
                    <img src={{image_gallery.image.url}} class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href={{image_gallery.image.url}} data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                    </div>
                    <div class="portfolio-info">
                      <h4>{{image_gallery.vn_name}}</h4>
                      <!-- <p>{{image_gallery.vn_description}}</p> -->
                    </div>
                  </div>
                </div>

          {% if forloop.counter|divisibleby:3 and not forloop.last %}
              </div><div class="row">
          {% endif %}
          {% endfor %}
        </div>
<div class="pagination">
  <span class="step-links">
    {% if image_galleries.has_previous %}
      <a href="?page=1">First</a>
      <a href="?page={{ image_galleries.previous_page_number }}">Previous</a>
    {% endif %}

    <span class="current-page">{{ image_galleries.number }}</span>

    {% if image_galleries.has_next %}
      <a href="?page={{ image_galleries.next_page_number }}">Next</a>
      <a href="?page={{ image_galleries.paginator.num_pages }}">Last</a>
    {% endif %}
  </span>
</div>



<!--
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">

<iframe width="410" height="280" src="https://www.youtube.com/embed/62RxpCP9TxQ?si=T8A1eY_30L0qOBxO" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          </div>
          -->



      </div>
    </section><!-- End Portfolio Section -->
{% endblock %}